/* Imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Meta */
* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --bg: #F0EDEE;
    --bold: #0A090C;
    --accent: #2C666E;
    --accent-darken: #07393C;
}
body {
    width: 100vw;
    background-color: var(--bg);
    overflow-x: hidden;
}

/* Page Styling */
#bg-img {
    width: 100vw;
    height: 35vh;
    background-size: cover;
    background-position: center;
    background-image: url("https://today.ucsd.edu/news_uploads/Resized_Geisel_Library_08.31.jpg");
}

body > h1 {
    position: absolute;
    text-align: center;
    width: 100vw;
    top: 15vh;
    color: white;
    font-family: 'Raleway';
    font-size: 6vh;
    font-weight: bold;
}

#content {
    width: 70%;
    margin: 3vh auto;
    text-align: center;
}

#content > button {
    background-color: var(--accent);
    color: white;
    padding: 1.5% 3%;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
#content > button:hover {
    cursor: pointer;
    background-color: var(--accent-darken);
}

#card-sec {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.card {
    display: none;
    font-family: 'Montserrat';
    border: 1px solid black;
    border-radius: 5px;
    margin: 3vh;
    padding: 2% 5%;
    background-color: white;
}

div > button {
    margin-top: 5vh;
    background-color: var(--bold);
    color: white;
    padding: 1% 2%;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.1s;
}
div > button:hover {
    background-color: black;
    cursor: pointer;
}

select, select:focus {
    font-size: 15px;
    padding: 1% 3%;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 1%;
}
