/*Enter your style classes here*/

svg {
    display: block;
}

#plot-struct {
    stroke-width: 2px;
    stroke: black;
}

path {
    stroke: black;
    stroke-width: 5px;
    fill: none;
}

#circles {
    stroke: black;
    stroke-width: 2px;
    fill: white;
}


/* Coloring */
#purple { fill: #855cad; }
#beige { fill: #b9a184; }
#yellow { fill: #ffff33; }
#aqua { fill: #339999; }
#sky { fill: #87ceeb;}
#pink { fill: #ff69b4;}
#orange { fill: #ff7f50;}